/* Global */

@font-face {
    font-family: "tesla";
    src: url("../fonts/tesla.woff") format('woff');
}

*, ::after, ::before {
    box-sizing: border-box;
  /*   -moz-box-sizing: border-box; Firefox */
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    font-family: Yu Gothic UI;
    color: #fff;
}

img {
    width: 100%;
}

/* Hero */

.hero {
    background-image: url(../img/tesla-hero.jpg);
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    height: 100vh;
    display: block;
    position: relative;
    
}

.header-top {
    display: flex;
    font-family: tesla;
    text-transform: uppercase;
    color: rgba(255,255,255, 0.8);
    align-items: center;
    justify-content: center;
    padding-top: 1.5em;
    font-size: .8em;
    letter-spacing: .3em;
}

.img-logo  {
    height: 40px;
    width: auto;
    padding: 0 1em;
}

.stats {
    margin-left: 10vw;
    margin-top: 25vh;

}

.stat {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1em;
    margin-top: 2em;
}

.stat-first-item {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.stat-second-item {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-weight: bold;
    font-size: 1.3em;
}

.stat-third-item {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-weight: regular;
    font-size: .8em;
}



@media only screen and (max-width: 1500px) {
    .hero {
        background-size: cover;
    }
}

@media only screen and (max-width: 560px) {
    .img-logo {
        height: 30px;
    }
    .header-top {
        font-size: .7em;
        letter-spacing: .3em;
    }
    .hero {
        background-position: center;
        background-size: cover;


    }
    .hero:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, transparent 50%, black 100%); /* Study gradient */
    }

}